    <app-login *ngIf="!auth.isLoggedIn()" class="app-view"></app-login>

    <div *ngIf="auth.isLoggedIn()" class="app-shell">
      <app-navbar></app-navbar>
      <app-sidebar></app-sidebar>
      
      <!-- Modal overlay -->
    <app-change-password 
      *ngIf="modal.showChangePasswordModal()" 
      (closeModal)="modal.closeChangePasswordModal()">
    </app-change-password>

      <main class="content">
        <app-patients *ngIf="nav.currentView() === 'patients'"></app-patients>
        <app-register-patient *ngIf="nav.currentView() === 'register'"></app-register-patient>
        <app-dashboard *ngIf="nav.currentView() === 'dashboard'"></app-dashboard>
        <app-dashboard-detalle *ngIf="nav.currentView() === 'dashboard-detalle'"></app-dashboard-detalle>
        <!-- ARCG -->
        <app-report-attentions *ngIf="nav.currentView() === 'report-attentions'"></app-report-attentions>
        <app-report-medications *ngIf="nav.currentView() === 'report-medications'"></app-report-medications>
      </main>
    </div>